@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}



    <div class="row card card-reset-password">

        <h4>Enter your email.</h4>
        <div class="col-md-12">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
