@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

    <div>
        <div>
            <h1>@ViewData["Title"]</h1>
        </div>
        <div>
            <p>
                <b>Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</b>
            </p>
        </div>
    </div>