/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


main{
    display:flex;
    justify-content:center;
    padding-top:60px;
}

a.navbar-brand {
    
    width:60px;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}



body {
    
    background-image: url("../images/background.jpg");
}


/*----------------------------------------------New css code---------------------------------------------*/

.logo{
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: #f8f9fa4f;
    
}

.nav-link{
    font-weight: 700;
    color: #000000;
}

.nav-link:hover, 
.nav-link:active
{
    color:#707070;
}

.cards-container{
    display:flex;
    align-items:flex-start;
    justify-content:space-evenly;
    width:800px;
    flex-wrap:wrap;
    
}


.card-btn {
    display:block;
    width: 100px;
    
}


.card-btn-large{
    width:210px;
}

.card-edit-btn{
    width:120px;
    margin-bottom:10px;
}

.card-img {
    width: 200px;
}

.card-img-container {
    display: flex;
    justify-content: center;
}

.card {
    display: inline-block;
    width: 20rem;
    padding: 30px;
    background-color: #f8f9fa9e;
    border: 1px solid #6c757d63;
    margin-top:20px;
}


.card-add-diary{
    height:6rem;
}

.btn-add {
    display: flex;
    justify-content: center;
}

.icon-margin-right {
    margin-right: 10px;
}
