/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


main{
    display:flex;
    justify-content:center;
    padding-top:40px;
}

a.navbar-brand {
    
    width:60px;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #000;
}

a:hover {
    color: #707070;
    text-decoration:none;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}



body {
    
    background-image: url("../images/background.jpg");
}


/*----------------------------------------------New css code---------------------------------------------*/

.logo{
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: #f8f9fa4f;
    
}

.nav-link{
    font-weight: 700;
    color: #000000;
}

.nav-link:hover, 
.nav-link:active
{
    color:#707070;
}

.cards-container{
    display:flex;
    align-items:flex-start;
    justify-content:space-evenly;
    width:800px;
    flex-wrap:wrap;
    
}


.card-btn {
    display:block;
    width: 100px;
    
}


.card-btn-large{
    width:210px;
}

.card-edit-btn{
    width:120px;
    margin-bottom:10px;
}

.card-img {
    width: 200px;
    height: 128px;
}

.card-img-container {
    display: flex;
    justify-content: center;
}

.card {
    display: inline-block;
    width: 20rem;
    padding: 30px;
    background-color: #f8f9fa9e;
    border: 1px solid #6c757d63;
    margin-top:20px;
}


.card-add-diary{
    height:6rem;
}

.btn-add {
    display: flex;
    justify-content: center;
    color:#000;
}

.icon-margin-right {
    margin-right: 10px;
}

.card-new-diary {
    display: inline-block;
    width: 50rem;
    height: 18rem;
    padding: 30px;
    background-color: #f8f9fa9e;
    border: 1px solid #6c757d63;
    margin-top: 20px;
}

.form-new-diary {
    margin-top: 30px;
    
}


.text-form-new-diary {
    font-style: italic;
    margin-top: 20px;
    margin-bottom:5px;
}

.datepicker-new-diary{
    width:125px;
}

.datepicker-icon {
    position: absolute;
    padding: 7px;
    margin-left: 95px;
}

.btn-save-new-diary {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0.27rem;
    width: 90px;
}


.public-diary-container {
    width:69.15%;
    margin: auto;
}

.card-public-diary {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    color: #6c7988;
    padding-top: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    height:17rem;
}

    .card-public-diary:hover {
        background-color: #e8e9ea9e;
    }



    .card-body-public-diary {
        background-color: #e6e0d600;
        padding-bottom: 1px;
        padding-left: 10px;
        padding-right: 0;
        padding-top: 5px;
        margin-top: 5px;
    }

.card-public-diary-title {
    font-weight: bold;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.public-diary-location-date {
    margin: 5px;
    color: #6c7988;
}


.fa-globe-americas {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.fa-calendar-alt {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}


.card-account-settings {
    width: 30rem;
    height: 15rem;
    
}

.card-account-settings-text{
    margin-left:25px;
}


.body-account-settings {
    display: flex;
    justify-content: space-around;
    align-items:center;
}


.btn-account-settings-edit {
    width: 200px;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 20px;
    
}

.btn-account-settings-password {
    width: 200px;
    margin-bottom: 5px;
    height: 40px;
}

.btn-account-settings-delete {
    width: 180px;
    margin-bottom: 5px;
    height: 40px;
}

.btn-success {
    color: #fff;
    background-color: #025a24;
    border-color: #025a24;
}

.modal-content {
    background-color: #ffffffbf;
}


.card-change-password {
    width: 40rem;
    height: 20rem;
}

.btn-save-new-password {
    margin-left: 2px;
}

.delete-pop-up {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.edit-diary {
    display: flex;
    justify-content:space-between;
    width: 1200px;
}

.card-list-of-chapters{
    padding: 0;
}
.list-of-chapters {
    width: 15rem;
    height: 25rem;
    padding: 0;
    overflow-y: scroll;
}

.edit-diary-chapters {
    display: flex;
    justify-content: space-between;
    width: 40.5rem;
    margin-right: 80px;
}

.chapter {
    height: 25rem;
}

.notes-from-diary {
    padding: 10px 20px 0px 20px;
}

.card-chapter-buttons {
    display:inline-flex;
    margin-left:95px;
}

.edit-chapter-button {
    width: 40px;
    margin: 0;
    font-size:20px;
    margin-left: 5px;
}

.edit-chapter-button:hover {
    color: #3c3939c9;
    cursor: pointer;
}

.delete-chapter-button {
     width: 40px;
     margin: 0;
     font-size: 20px;
}

.delete-chapter-button:hover {
     color: #3c3939c9;
     cursor: pointer;
}

.btn-add-chapter {
    margin-bottom:auto;
    margin-top:auto;
    height:260px;
}

.card-edit-chapter {
    width: 55rem;
    height: 25rem;
}


edit-chapter-text {

}

textarea.form-control {
    width: 450px;
    min-height:200px;
    max-height: 200px;
}

.edit-chapter-container {
    display: inline-flex;
}

.edit-chapter-fields {
    margin-left:100px;
}

.edit-chapter-title {
}

.edit-chapter-location {

}

.date-label {
    margin-bottom:0px;
}

.edit-chapter-date {
}

.edit-chapter-public-checkbox {
    display:inline-block;
}

.edit-chapter-buttons {
    margin-top: 30px;
}

.edit-chapter-delete-button {
    display: inline-block;
}

.edit-chapter-save-button {
    display: inline-block;
    margin-left: 23px;
}

.form-group-fields> label {
    margin-bottom: 0;
}

.form-group-fields {
    margin-bottom:0px;
}

.home-page {
    
}

.logo-home-page {
    width: 20rem;
    margin-left: 70px;
}

.home-page-button-start {
    margin-top: 15px;
    height: 45px;
    width: 180px;
    margin-left:137px;
    margin-bottom: 15px;
}

.logo-and-button {
    display: grid;
}

.motto-home-page {
    font-weight:bold;
    margin-top:10px;
}

.card-login {
    padding: 2rem;
    width: 30rem;
    height: 27rem;
    margin: 0;
}

.card-reset-password {
    width: 25rem;
    height: 16rem;
    padding: 2.5rem;
}

.view-public-diary {
    display: flex;
    justify-content: space-between;
    width: 60rem;
}

.public-diary-chapters {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

.public-diary-chapters-list {
    height: 25rem;
    overflow-y: auto;
    background-color: #f8f9fa9e;
}

.public-diary-chapter {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 30px;
    background-color: #f8f9fa9e;
    border: 1px solid #6c757d63;
}
.public-chapter-details {
    width: 35%;
}

.public-chapter-detail {
    margin: 0;
}

.public-chapter-content {
    width: 60%;
    height: 25rem;
    overflow-y: auto;
}

.public-chapter-image {
    margin-top: 30%;
}