<div class="card card-login">
    <h5>Log in</h5>
    <form id="account" method="post" novalidate="novalidate" action="/Identity/Account/Login">
        <div class="text-dangervalidation-summary-valid" data-valmsg-summary="true">
            <ul>
                <li style="display:none"></li>
            </ul>
        </div>
        <div>
            <div class="form-group">
                <label for="input_email">Email</label>
                <input class="form-control valid" type="email" data-val="true" data-val-email="Introduce a valid e-mail address."
                       data-val-required="The Email field is required." id="input_email" name="Input.Email" value="" aria-describedby="Input_Email-error"
                       aria-invalid="false" />
                <span class="text-danger fied-validation-valid" data-valmsg-for="Input.Email" data-val-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="input_password">Password</label>
                <input class="form-control valid" type="password" data-val="true" data-val-required="The Password field is required."
                       id="input_password" name="Input.Password" aria-describedby="Input_Password-error"
                       aria-invalid="false" />
                <span class="text-danger fied-validation-valid" data-valmsg-for="Input.Password" data-val-replace="true"></span>
            </div>
            <div class="form-group">
                <div class="checkbox"></div>
                <label for="input_rememberMe">
                    <input type="checkbox" data-val="true" data-val-required="The Remember me field is required." id="input_rememberMe" name="Input.RememberMe" value="true" />
                    Remember me
                </label>
            </div>
            <div class="form-group">
                <button id="login-submit" type="submit" class="btn btn-dark">Log in</button>
            </div>
            <div class="form-group">
                <p>
                    <a asp-controller="Account" asp-action="ForgotPassword" id="forgot-password">Forgot your password?</a>
                </p>
                <p>
                    <a asp-controller="Account" asp-action="Register" id="forgot-password">Register as a new user</a>
                </p>
            </div>
            @Html.AntiForgeryToken()
            <input name="Input.RememberMe"  type="hidden" value="false" />
        </div>
    </form>
</div>