<div class="card card-login">
    <h5>Create a new account</h5>
    <form id="registerForm" method="post" action="/Identity/Account/Register?returnUrl=%2F" novalidate="novalidate">
        <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
            <ul>
                <li style="display:none"></li>
            </ul>
        </div>
        <div class="form-group">
            <label for="input_email">Email</label>
            <input class="form-control valid" type="email" data-val="true" data-val-email="Introduce a valid e-mail address."
                   data-val-required="The Email field is required." id="input_email" name="Input.Email" value="" aria-describedby="Input_Email-error"
                   aria-invalid="false" />
            <span class="text-danger fied-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label for="input_password">Password</label>
            <input class="form-control" type="password" data-val="true" data-val-length="The Password must be at least 6 and at max 100 characters long."
                   data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required."
                   id="input_password" maxlength="100" name="Input.Password" />
            <span class="text-danger fied-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label for="input_ConfirmPassword">Password</label>
            <input class="form-control" type="password" data-val="true" data-val-equalto="The password and confirmation password do not match."
                   data-val-equalto-other="*.Password" id="input_ConfirmPassword" name="Input.ConfirmPassword" />
            <span class="text-danger fied-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
        </div>
        <button id="registerSubmit" type="submit" class="btn btn-dark">Register</button>
        @Html.AntiForgeryToken()
        <input name="Input.RememberMe" type="hidden" value="false" />
    </form>
</div>