@model AroundTheWorld.Web.ViewModels.DiaryRelated.PublicDiaryWithChapters

    <div class="view-public-diary">
        <div class="public-diary-chapters">
            <div>
                <h3>@(Model.DiaryName)</h3>
            </div>
            <div class="public-diary-chapters-list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">List of public chapters</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var chapter in Model.Chapters)
                        {
                            <tr>
                                <td class="public-chapter-item" data-chapter-id="@chapter.Id">@chapter.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="public-diary-chapter">
            @await Component.InvokeAsync(nameof(AroundTheWorld.Web.Views.Chapter.ViewPublicChapterComponent), new { chapterId = Model.Chapters.First().Id })
        </div>
    </div>

<script>
    $(".public-chapter-item").click(function (event) {
        var id = $(event.currentTarget).data("chapter-id");
        $.ajax({
            url: "@Url.Action("ViewPublicChapter", "Chapter")",
            data: {
                id
            },
            success: function (htmlContent) {
                $(".public-diary-chapter").html(htmlContent);
            }
        })
    })
</script>