<div class="view-public-diary">
    <div class="view-public-diary-title">
        <h3>Diary name</h3>
    </div>

    <div class="card list-of-chapters">
        <div class="card-body card-body-public-diary card-list-of-chapters">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">List of public chapters</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card chapter-content">

        <div class="public-chapter-container">
            <div class="public-chapter-information">
                <h4>Chapter name</h4>
                <p class="public-diary-location-date location-public-chapter"><i class="fas fa-globe-americas"></i>Location</p>
                <p class="public-diary-location-date date-public-chapter"><i class="far fa-calendar-alt "></i>26.01.2019</p>
                <div class="card-img-container">
                    <img class="card-img" src="~/images/noImage.png" alt="Card image cap">
                </div>
            </div>
            <div class="public-chapter-content">
                <p>
                    start text texttext texttext texttext texttext texttext texttext texttext
                    text texttext texttext texttext texttext texttext texttext texttext
                    text texttext texttext texttext texttext texttext texttext texttext
                    texttext texttext texttext texttext text finish
                </p>
            </div>
        </div>

    </div>
</div>