<div class="view-public-diary">
    <div class="public-diary-chapters">
        <div>
            <h3>Diary name</h3>
        </div>
        <div class="public-diary-chapters-list">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">List of public chapters</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="public-diary-chapter">
        <div class="public-chapter-details">
            <h4>Chapter name</h4>
            <p class="public-chapter-detail"><i class="fas fa-globe-americas"></i>Location</p>
            <p class="public-chapter-detail"><i class="far fa-calendar-alt "></i>26.01.2019</p>
            <img class="card-img public-chapter-image" src="~/images/noImage.png" alt="Card image cap">
        </div>
        <div class="public-chapter-content">
            <p>
                start text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                texttext texttext texttext texttext text finish
                start text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                texttext texttext texttext texttext text finish
                start text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                texttext texttext texttext texttext text finish
                start text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                texttext texttext texttext texttext text finish
                start text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                texttext texttext texttext texttext text finish
                start text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                texttext texttext texttext texttext text finish
                start text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                texttext texttext texttext texttext text finish
                start text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                texttext texttext texttext texttext text finish
                start text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                text texttext texttext texttext texttext texttext texttext texttext
                texttext texttext texttext texttext text finish
            </p>
        </div>
    </div>
</div>