


<div class="card card-account-settings">
    <h5 class="card-title text-left card-account-settings-text">Account settings</h5>

    <div class="body-account-settings ">
        <div>
            <button type="button" class="btn btn-dark card-btn btn-account-settings-edit" data-toggle="modal" data-target="#edit-email-address"><i class="far fa-edit icon-margin-right"></i>Edit email address</button>
            <button type="button" class="btn btn-dark card-btn btn-account-settings-password"><i class="far fa-edit icon-margin-right"></i>Change password</button>
            <button type="button" class="btn btn-dark card-btn btn-account-settings-delete" data-toggle="modal" data-target="#delete-account" ><i class="fas fa-trash icon-margin-right"></i>Delete account</button>
        </div>

        <div  >
            <i class="far fa-user icon-margin-left fa-9x"></i>
        </div>
    </div>


</div>
<partial name="EditEmailAddress" />
<partial name="DeleteAccount"/>