

    <div class="card card-change-password">
        <h5 class="card-title text-left">Change password</h5>
        <p><i>Enter your current password and enter a new password twice, to set a new one.</i></p>
        

        <form id="changepassword-form" role="form" data-toggle="validator" class="form-quote" action="/changepasswordpost" method="POST">
            
            <div class="form-group row">
                <div class="form-field col-md-12 form-m-bttm">
                    <input name="changepassword-password" type="password" placeholder="Current password" class="form-control required">
                </div>
            </div>
            <div class="form-group row">
                <div class="form-field col-md-12 form-m-bttm">
                    <input name="changepassword-password" type="password" placeholder="New password" class="form-control required">
                </div>
            </div>
            <div class="form-group row">
                <div class="form-field col-md-12 form-m-bttm">
                    <input name="changepassword-password2" type="password" placeholder="Repeat new password" class="form-control required">
                </div>
            </div>
            






            @*<div class="form-change-diary body-change-diary">
            <label for="newDiary">Start a new diary. Just fill in the name and you can start directly</label>
            <input type="text" class="form-control text-form-new-diary" placeholder="Enter your diary name">
        </div>*@


            <button type="button" class="btn card-btn btn-save-new-diary btn-success"><i class="far fa-save icon-margin-right"></i>Save</button>
        </form>
    </div>