

    <div class="edit-diary">
        <div class="card list-of-chapters">

            <div class="card-body card-body-public-diary card-list-of-chapters">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Chapters</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                        </tr>
                    </tbody>
                </table>


            </div>

        </div>

        <div class="edit-diary-chapters">

            <div class="card chapter">
                <div class="card-body card-body-public-diary ">
                    <p class="public-diary-location-date"><i class="fas fa-globe-americas"></i>Location</p>
                    <p class="public-diary-location-date"><i class="far fa-calendar-alt "></i>Date</p>
                </div>
            </div>

            <div class="card chapter">
                <div class="card-body card-body-public-diary ">
                    <p class="public-diary-location-date"><i class="fas fa-globe-americas"></i>Location</p>
                    <p class="public-diary-location-date"><i class="far fa-calendar-alt "></i>Date</p>
                </div>
            </div>
        </div>
    </div>