<div class="test">
    <div class="home-page">
        <div class="logo-and-button">
            <img class="logo-home-page" src="~/images/Logo.png" alt="Logo">
            <a asp-controller="Account" asp-action="Login" type="button" class="btn btn-dark home-page-button-start"><i>Start your journey</i></a>
        </div>

    </div>

    <div class="motto-home-page">
        <p><i>'The journey of a thousand miles begins with a single step.'</i></p>
    </div>

</div>
