@model IEnumerable<AroundTheWorld.Web.ViewModels.DiaryRelated.DiaryListItemViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="cards-container">
        <div class="card">
            <h5 class="card-title text-center">Start a new diary</h5>
            <div class="card-add-diary">
                <div class="btn-add">
                    <a asp-controller="Diary" asp-action="StartANewDiary">
                        <i class="fas fa-plus fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
    @foreach (var diary in Model)
    {
        <div class="card">
            <h5 class="card-title text-center">@(diary.Name)</h5>
            <div class="card-img-container">
                @if (string.IsNullOrWhiteSpace(diary.Image))
                {
                    <img class="card-img" src="~/images/noImage.png" alt="Card image cap">
                }
                else
                {
                    <img class="card-img" src="@(diary.Image)" alt="Card image cap">
                }
            </div>
            <div class="card-body">
                <a asp-controller="Diary" asp-action="EditDiary" asp-route-id="@diary.Id" class="btn btn-dark card-btn card-edit-btn">
                    <i class="far fa-edit icon-margin-right"></i>Edit diary
                </a>
                <button type="button"
                        class="btn btn-dark card-btn delete-diary-btn" 
                        data-diary-id="@(diary.Id)"
                        data-toggle="modal" 
                        data-target="#DeleteDiary">
                    <i class="fas fa-trash icon-margin-right"></i>Delete
                </button>
            </div>
        </div>
    }
</div>

<input id="diary-to-delete-id" type="hidden" />
<partial name="~/Views/Diary/DeleteDiary.cshtml" />

<script>
    $(".delete-diary-btn").click(function () {
        var diaryToDeleteId = $(this).data("diary-id");
        $("#diary-to-delete-id").val(diaryToDeleteId);
    })
</script>