@{
    ViewData["Title"] = "Home Page";
}

    <div class="cards-container">

        <div class="card">
            <h5 class="card-title text-center">Start a new diary</h5>
            <div class="card-add-diary">
                <div class="btn-add">
                    <button type="button" class="btn btn-default">
                        <i class="fas fa-plus fa-4x"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="card">
            <h5 class="card-title text-center">My diary</h5>
            <div class="card-img-container">
                <img class="card-img" src="~/images/noImage.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-dark card-btn card-edit-btn">
                    <i class="far fa-edit icon-margin-right"></i>Edit diary
                </a>
                <a href="#" class="btn btn-dark card-btn">
                    <i class="fas fa-trash icon-margin-right"></i>Delete
                </a>
            </div>
        </div>


        <div class="card">
            <h5 class="card-title text-center">My diary</h5>
            <div class="card-img-container">
                <img class="card-img" src="~/images/noImage.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-dark card-btn card-edit-btn">
                    <i class="far fa-edit icon-margin-right"></i>Edit diary
                </a>
                <a href="#" class="btn btn-dark card-btn">
                    <i class="fas fa-trash icon-margin-right"></i>Delete
                </a>
            </div>
        </div>


        <div class="card">
            <h5 class="card-title text-center">My diary</h5>
            <div class="card-img-container">
                <img class="card-img" src="~/images/noImage.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-dark card-btn card-edit-btn">
                    <i class="far fa-edit icon-margin-right"></i>Edit diary
                </a>
                <a href="#" class="btn btn-dark card-btn">
                    <i class="fas fa-trash icon-margin-right"></i>Delete
                </a>
            </div>
        </div>


        <div class="card">
            <h5 class="card-title text-center">My diary</h5>
            <div class="card-img-container">
                <img class="card-img" src="~/images/noImage.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-dark card-btn card-edit-btn">
                    <i class="far fa-edit icon-margin-right"></i>Edit diary
                </a>
                <a href="#" class="btn btn-dark card-btn">
                    <i class="fas fa-trash icon-margin-right"></i>Delete
                </a>
            </div>
        </div>


        <div class="card">
            <h5 class="card-title text-center">My diary</h5>
            <div class="card-img-container">
                <img class="card-img" src="~/images/noImage.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <a href="#" class="btn btn-dark card-btn card-edit-btn">
                    <i class="far fa-edit icon-margin-right"></i>Edit diary
                </a>
                <a href="#" class="btn btn-dark card-btn">
                    <i class="fas fa-trash icon-margin-right"></i>Delete
                </a>
            </div>
        </div>




    </div>