
    <div class="public-diary-container">
        <div class="card card-public-diary">

            <div class="card-img-container">
                <img class="card-img" src="~/images/download.jpg" alt="public diary">
            </div>
            <div class="card-body card-body-public-diary ">
                <p class="public-diary-location-date"><i class="fas fa-globe-americas"></i>STGSKH Shkjdhakda</p>
                <p class="public-diary-location-date"><i class="far fa-calendar-alt "></i>22/03/2020</p>
            </div>
        </div>

        <div class="card card-public-diary">

            <div class="card-img-container">
                <img class="card-img" src="~/images/noImagevd.png" alt="public diary">
            </div>
            <div class="card-body card-body-public-diary ">
                <p class="public-diary-location-date"><i class="fas fa-globe-americas"></i>Location</p>
                <p class="public-diary-location-date"><i class="far fa-calendar-alt "></i>Date</p>
            </div>
        </div>

        <div class="card card-public-diary">

            <div class="card-img-container">
                <img class="card-img" src="~/images/download.jpg" alt="public diary">
            </div>
            <div class="card-body card-body-public-diary ">
                <p class="public-diary-location-date"><i class="fas fa-globe-americas"></i>Location</p>
                <p class="public-diary-location-date"><i class="far fa-calendar-alt "></i>Date</p>
            </div>
        </div>


        <div class="card card-public-diary">

            <div class="card-img-container">
                <img class="card-img" src="~/images/download.jpg" alt="public diary">
            </div>
            <div class="card-body card-body-public-diary ">
                <p class="public-diary-location-date"><i class="fas fa-globe-americas"></i>Location</p>
                <p class="public-diary-location-date"><i class="far fa-calendar-alt "></i>Date</p>
            </div>
        </div>


        <div class="card card-public-diary">

            <div class="card-img-container">
                <img class="card-img" src="~/images/download.jpg" alt="public diary">
            </div>
            <div class="card-body card-body-public-diary ">
                <p class="public-diary-location-date"><i class="fas fa-globe-americas"></i>Location</p>
                <p class="public-diary-location-date"><i class="far fa-calendar-alt "></i>Date</p>
            </div>
        </div>




    </div>